body {
  margin: 0;
  font-family: "Bebas Neue", cursive;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8e0e00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.con {
  background-image: url("/public/images/EG-en-20220103-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  height: 1000px;
}

.mybutton {
  position: absolute;
  right: 50px;
  top: 25px;
  width: 85px;
  height: 35px;
  border-radius: 5px;
  background-color: #e50914;
  border: 0;
  color: #fff;
  font-size: 16px;
}

.mybutton a {
  color: #fff;
  text-decoration: none;
}

.mybutton2 {
  position: absolute;
  right: 150px;
  top: 25px;
  width: 85px;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
  border: 0;
  color: #e50914;
  font-size: 16px;
}

.mybutton2 a {
  color: #e50914;
  text-decoration: none;
}

.pagecontent {
  padding-top: 10%;
}
.lang{
  font-size: 25px;
  font-weight: 100;
  position: absolute;
  right: 250px;
  top: 35px;

}

.lang:hover{
  text-decoration: underline;
}